<section *ngIf="isSettings || isMissingSettings" class="container mx-auto p-4 bg-white rounded-2xl">
  <p *ngIf="isDisable" class="text-xl font-bold mb-6 text-center bg-red-100 border border-red-500 text-red-700 p-4 rounded">
    Please Sign In First
  </p>

  <section class="flex justify-between items-center">
    <h1 class="text-2xl font-bold mb-6">Settings</h1>
    <button
      (click)="closeSettings()"
      class="text-red-600 font-bold text-xl px-2 py-1 hover:text-red-800 focus:outline-none"
      type="button"
    >
      &times;
    </button>
  </section>

  <form (ngSubmit)="onSubmit()" [formGroup]="settingsForm" class="space-y-4" >
    <section>
      <label class="block text-sm font-medium" for="baseUrl" [ngClass]="{ 'cursor-not-allowed opacity-50': isDisable }">Base URL</label>
      <input
        class="block w-full p-2 border border-gray-300 rounded"
        [formControlName]="getControlName(settingsForm, settingsForm.controls.weatherApiUrl)"
        id="baseUrl"
        type="text"
        [ngClass]="{ 'cursor-not-allowed opacity-50': isDisable }"
      />
      <small *ngIf="settingsForm.controls.weatherApiUrl.invalid && settingsForm.controls.weatherApiUrl.touched" class="text-red-500">
        Base URL is required.
      </small>
    </section>

    <section>
      <label class="block text-sm font-medium" for="weatherApiKey" [ngClass]="{ 'cursor-not-allowed opacity-50': isDisable }">Weather API Key</label>
      <div class="relative">
        <input
          [type]="showAPIKey ? 'text' : 'password'"
          class="block w-full pr-10 p-2 border border-gray-300 rounded"
          [formControlName]="getControlName(settingsForm, settingsForm.controls.apiKey)"
          id="weatherApiKey"
          [ngClass]="{ 'cursor-not-allowed opacity-50': isDisable }"
        />
        <button
          (click)="toggleAPIKeyVisibility()"
          class="absolute inset-y-0 right-0 px-3 py-2 text-sm font-medium text-gray-600 hover:text-gray-900 focus:outline-none"
          type="button"
          [disabled]="isDisable"
          [ngClass]="{ 'cursor-not-allowed opacity-50': isDisable }"
        >
          {{ showAPIKey ? 'Hide' : 'Show' }}
        </button>

      </div>
      <small *ngIf="settingsForm.controls.apiKey.invalid && settingsForm.controls.apiKey.touched" class="text-red-500">
        Weather API Key is required.
      </small>
    </section>

    <section class="flex justify-end">
      <button
        class="px-4 py-2 text-white bg-blue-500 hover:bg-blue-600 rounded focus:outline-none"
        type="submit"
        [disabled]="isDisable || settingsForm.invalid"
        [ngClass]="{ 'cursor-not-allowed opacity-50': isDisable || settingsForm.invalid}"
      >
        Update
      </button>
    </section>
  </form>
</section>
